* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #be3144;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
}

.nav-link {
  height: 100%;
  text-align: center;
  padding: 1.5rem 2rem;
  color: white;
  margin-right: 01rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover {
  background-color: gray;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section > h1 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-weight: bold;
  font-size: 6vw;
  margin: 0;
}

#welcome-section > p {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 3vw;
  font-style: oblique;
  color: #be3144;
  margin: 0;
}

#projects {
  width: 100%;
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #45567d;
}

#projects > h1 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-weight: bold;
  font-size: 6vw;
  margin: 0;
}

#projects-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.project-tile {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.project-tile-image {
  width: 100%;
  height: 80%;
}

.project-tile-text {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: #303841;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#contact > h1 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-weight: bold;
  font-size: 6vw;
  margin: 0;
}

#contact > p {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 3vw;
  font-style: oblique;
}

#profile-link-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#profile-link {
  color: white;
}

#footer {
  width: 100%;
  border-top: #be3144;
  border-width: 5px 0 0 0;
  border-style: solid;
  position: absolute;
  bottom: 0;
}

#footer > p {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 2vw;
  font-style: oblique;
  padding-left: 10vw;
}

@media (max-width: 600px) {
  #navbar {
    justify-content: center;
    font-size: 0.8rem;
  }

  .nav-link {
    margin-right: 0;
  }
}

@media (max-width: 370px) {
  #navbar {
    flex-direction: column;
    font-size: 0.6rem;
    justify-content: center;
  }

  .nav-link {
    margin-right: 0;
  }

  #welcome-section {
    height: 80vh;
    margin-top: 20vh;
  }
}
